@tailwind base;
@tailwind components;
@tailwind utilities;

.show-list{
  border: 3px solid red;
  
}

.details{
  border: 3px solid green;

}
.main-div{
  border: 3px solid green;
}
.show-card{
  box-shadow: black 2px 2px 2px;
  border: 1px solid gray;
}
.detail-form{
  border: 5px solid red;
  
}